.myCard{
    min-width: 150px;
    
    .title,.date{
        color: #9CA3AF;
    }
    .title{
        
        font-weight:600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-height: 1.5; /* line height */
        max-height: 3em; /* (line height) * (number of lines) */
    }
    .myCardContainer{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        .cardContent{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            overflow: hidden;
            position: relative;
            height: 100px;
            .progressBarContainer{
                position: absolute;
                right: 0;
                bottom: 0;
                
            }
            
            
        }
    }
    
}
.myCard:hover{
    cursor: pointer;
}