.myCard{
    min-width: 160px;
    .title,.date{
        color: #9CA3AF;
    }
    .title{
        
        font-weight:600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-height: 1.5; /* line height */
        max-height: 3em; /* (line height) * (number of lines) */
    }
    
}