.myCard{
    min-width: 150px;
    flex:1;
    .myTitle,{
        color: #9CA3AF;
    }
    .myTitle{
        
        font-weight:600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-height: 1.5; /* line height */
        max-height: 3em; /* (line height) * (number of lines) */
    }
    
}
.myCard:hover{
    cursor: pointer;
}